

/* Content - article */
#content .article {clear:both; margin:0; padding:20px; background:url("../design/content_article_bg.jpg") 0 0 no-repeat;}
#content .article h2 {margin:0 -20px; padding:10px; background:#DEE5FD url("../design/content_title_bg.gif") 0 0 repeat-y; color:#192666;}
#content .article h2 span {background:url("../design/ico_list.gif") 0 50% no-repeat; padding-left:25px;}

#content .article p {text-align:justify;}
#content .info {margin:10px 0; padding-bottom:8px; border-bottom:1px solid #DEE5FD; color:#6685CC;}
#content .info a {color:#6685CC;}
#content .info a:hover {color:#FF9000;}

#content .info span.date, #content .info span.cat, #content .info span.user, #content .info span.comments {padding-left:15px;}
#content .info span.date {background:url("../design/ico_date.gif") 0 50% no-repeat;}
#content .info span.cat {background:url("../design/ico_cat.gif") 0 50% no-repeat; margin-left:8px;}
#content .info span.user {background:url("../design/ico_user.gif") 0 50% no-repeat; margin-left:8px;}
#content .info span.comments {background:url("../design/ico_comments.gif") 0 50% no-repeat; margin-left:8px;}
#olol p{
    font-size: 55px;
    background:#33CC33
}
